body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #fff;
    color: #333;
    border-top: 2px solid #27d;
}

main {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 600px;
}

nav a {
    color: #27d;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 28px;
}

@media screen and (min-width: 600px) {
    h1 {
        font-size: 36px;
    }
}

h1 span {
    display: block;
    font-size: 18px;
}

main {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

hr {
    border: none;
    height: 1px;
    background-color: #333;
}